footer {
	background-color: #282F44;
	.TopFooter{
		padding: 4rem 0;
		margin : 0 auto;
		@media (min-width: 1024px){
			padding: 6rem 0;
		}

		.col-12 {
			@media (max-width: 768px){
				padding: 0 15px;
			}
		}

		.col-12:nth-child(2){
			@media (max-width: 768px){
				flex: 0 0 38%;
			}
		}

		.col-12:nth-child(3){
			@media (max-width: 768px){
				flex: 0 0 62%;
			}
		}

		.DesktopShare {
			@media (max-width:768px){
				display: none !important;
			}
		}

		.MobileShare {
			display: none;
			@media (max-width:768px){
				display: block;
			}
		}

		.ShareButton{
			@media (max-width:768px){
				margin-top: 3rem;
			}
			h4{
				font-size: 16px;
				font-weight: 700;
				color: $white;
			}
			p{
				color: #fff;
				margin-bottom: 0;
				font-size: 1.4rem;
				font-weight: 600;
				@media (max-width:768px){
					font-size: 1.2rem;
				}
				@media (max-width:640px){
					font-size: 1.4rem;
				}
			}
			form{
				margin: 2.5rem 0;
				position: relative;

				input[type="email"]{
					width: 100%;
					border: none;
					background-color: $white;
					padding: 15px;
					font-size: 16px;
					font-weight: 500;
					color: $base;
					font-family: $primaryFont;
					&::placeholder{
						color: $darkgrey;
					}
					&:focus{
						outline: none;
					}
				}
				input[type="submit"]{
					position: absolute;
					right: 3px;
					top: 4px;
					width: 45px;
					height: 45px;
					cursor: pointer;
					background: $yellow url(../img/ar-right.svg) 50% no-repeat;
					background-size: 50%;
					border: none;
					transition: 0.3s all;
					&:focus{
						outline: none;
					}
					&:hover{
						background-color: $base;
					}
				}
			}
			ul{
				list-style: none;
				margin: 0 0 0 0;
				padding: 0;
				display: flex;
				align-items: center;
				li{
					margin-right: 2rem;
					a{
						width: 30px;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						border: thin solid #ccc;
						border-radius: 50px;
						transition: 0.3s all;
						&:hover{
							border-color: $base;
						}
					}
				}
			}
		}

		.logobox{
			padding-right: 0rem;
			margin-bottom: 3rem;
			@media (min-width: 1024px){
				padding-right: 5rem;
				margin-bottom: 0;
			}
			.footerlogo{
				font-size: 3rem;
				font-weight: 700;
				color: $white;
				text-transform: uppercase;
				text-decoration: none;
				line-height: 1;
				@media (max-width:1024px){
					font-size: 2.8rem;
				}
				@media (max-width:640px){
					font-size: 2.6rem;
				}
			}
			p{
				color: $white;
				font-weight: 400;
				margin-bottom: 0;
				margin-top: 2rem;
				line-height: 2.2rem;
				width: 80%;
				@media (max-width:768px){
					width: 90%;
				}
				@media (max-width:640px){
					width: 100%;
				}
			}
		}
		.QuickLink{
			&.Addlinks{
				padding-right: 4rem;
				@media (max-width:768px){
					padding-right: 0rem;
				}
			}
			h4{
				font-size: 16px;
				font-weight: 700;
				color: $white;
			}
			.links{
				list-style: none;
				padding: 0;
				margin: 1.5rem 0 0;
				@media (min-width: 1024px){
					margin: 2.5rem 0 0;
				}
				li{
					margin-top: 1.5rem;
					font-weight: 400;
						font-family: $primaryFont;
						color: $white;
						font-size: 14px;
					    line-height: 1.75;
					a{
						font-weight: 400;
						font-family: $primaryFont;
						color: $white;
						font-size: 14px;
						text-decoration: none;
						transition: 0.3s all;
						&:hover{
							color: $base;
						}
					}
				}
			}
		}
		.AddressSocial{
			margin-top: 0;
			@media (max-width:768px){
				margin-top: 3rem;
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0 0 0;
				li{
					margin-top: 2rem;
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					@media (max-width:768px){
						margin-top: 1.5rem;
					}
					&:first-child{
						margin-top: 0;
					}
					img{
						margin-right: 1rem;
					}
					p{
						font-weight: 500;
						font-family: $primaryFont;
						color: $white;
						font-size: 15px;
						margin-bottom: 0;
					}
					a{
						font-weight: 600;
						font-family: $primaryFont;
						color: $white;
						font-size: 15px;
						text-decoration: none;
						transition: 0.3s all;
						&:hover{
							color: $base;
						}
					}
				}
			}
		}
	}
	.CopyRight{
		padding: 1.5rem 0;
		border-top: thin solid #999999;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		p{
			margin-bottom: 0;
			color: $white;
			font-family: $primaryFont;
			font-size: 12px;
		}
	}
}