header{
	padding: 1.5rem 0;
	background-color: $white;
	position: fixed;
	width: 100%;
	    width: 100vw;
	top: -1px;
	z-index: 999;
	@media(min-width: 768px){
		top: 0;
	}
	&.darkHeader{
		background-color: $liteblue;
		box-shadow: 0px 3px 6px #0000001A;
	}
	.logo{
		img{
			display: block;
		}
	}
	.IpadDesktop{
		height: 100%;
		nav{
			height: 100%;
			ul{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				list-style: none;
				height: 100%;
				margin: 0;
				padding: 0;
				.OrangeWhiteBtn{
					margin-left: 5rem;
				}
				li{
					margin-left: 5rem;
					position: relative;
					cursor: pointer;
					&:first-child{
						margin-left: 0;
					}
					&.submenu{
						padding-right: 1rem;
						ul{
							box-shadow: 0px 3px 6px #0000001A;
							li{
								width: 100%;
								border-bottom: thin solid rgba($white, 0.35);
								&:last-child{
									border-bottom: transparent;
								}
								a{
									padding: 1.5rem 2rem;
									color: $white;
									text-transform: unset;
									&:hover{
										background-color: $white;
										color: $base;
									}
								}
							}
						}

						transition: 0.3s ease-in-out;
						&:after{
							content: "";
							position: absolute;
							right: -5px;
							top: 7px;
							background: url(../img/arw-down.svg) 0 0 no-repeat;
							width: 11px;
							height: 7px;
							transition: 0.3s ease-in-out;
						}
						&:hover{
							&:after{
								transform: rotate(180deg);
								background: url(../img/arw-down.svg) 0 0 no-repeat;
							}
						}
						a{
							padding-right: 0rem;
							position: relative;
						}
					}
					a{
						text-decoration: none;
						font-family: $primaryFont;
						font-size: 1.6rem;
						color: $darkgrey;						
						padding-bottom: 0.5rem;
						letter-spacing: 0px;
						position: relative;
						transition: all .2s ease-in-out; 
						line-height: 1;
						@media(min-width: 1024px){
							font-size: 1.2rem;
						}
						@media(min-width: 1280px){
							font-size: 1.6rem;
						}
						&:after{
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							background: #4C7CE2 0% 0% no-repeat padding-box;
							width: 0;
							height: 1px;
							right: 0;
    						margin: 0 auto;
							transition: all .5s ease-in-out; 
						}
						&:before{
							content: "";
							position: absolute;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							/*background: #fff url(../img/cafe-element.svg) no-repeat;*/
							/*background-size: contain; */
							bottom: -5px;
							left: 0;
							right: 0;
							margin: 0 auto;
							z-index: 1;
							padding: 0 0.5px;
							opacity: 0;
							visibility: hidden;
							transition: all .5s ease-in-out; 
						}
					}
					&:hover{
						ul{
							opacity: 1;
							visibility: visible;
							margin: 0;
						}
						a{
							color: $base;
							&:after{
								width: 100%;
							}
							&:before{
								opacity: 1;
								visibility: visible;
								transform: scaleY(1.1);
							}
						}
					}
					&.contactus{
						&:after{
							background: url(../img/white-arw-dwn.svg) 0 0 no-repeat;
							right: 20px;
						}
						&:hover{
							&:after{
								background: url(../img/arw-down.svg) 0 0 no-repeat;
							}
						}
						a{
							background: #ccc;
							padding-bottom: 0;
							padding: 1.6rem 4rem 1.3rem 2rem;
							transition: all .2s ease-in-out;  
							color: $white;
							font-weight: 600;
							font-size: 1.4rem;
							@media(min-width: 1024px){
								font-size: 1.2rem;
							}
							@media(min-width: 1280px){
								font-size: 1.4rem;
							}
							&:hover{
								background: #ccc;
								color: $white;
							}
							&:before,&:after{
								display: none;
							}
						}
						ul{
							box-shadow: 0px 3px 6px #0000001A;
							top: 31px;
							li{
								width: 100%;
								a{
									padding: 1.5rem 2rem;
									color: $base;
									background: $white;
									font-weight: 400;
									font-size: 1.6rem;
									&:hover{
										background: red !important;
										color: $white;
									}
								}
							}
						}
					}
				}
				ul {
					margin: 0 0 0;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 50px;
					left: -67px;
					z-index: 1;    
					background: $base;
					transition: all .2s ease-in-out;  
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					width: 230px;
					height: auto;
					&:before{
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: $base transparent transparent transparent;
						left: 0;
						right: 0;
						margin: 0 auto;
						top: -10px;	
						transform: rotate(180deg);					
					}
					li{
						margin-left: 0;
						line-height: 1;
						a{
							padding-right: 0;
							padding: 1rem;
							display: block;
							color: $white;
							&:after,&:before{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.IpadRemoved{
		height: 100%;
		.MobileMenu{
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	&.Blueheader{
		background-color: $base;
		.IpadDesktop{
			nav{
				ul{
					li{
						a{
							color: $white;
							&:after{
								background: $white;
							}
						}
						&.submenu{
							&:after{
								background: url(../img/arw-down-white.svg) 0 0 no-repeat;
							}
						}
					}
					ul{
						&:before{
							border-color: $white transparent transparent transparent;
						}
					}
				}
			}
		}
		.IpadRemoved{
			.c-hamburger{
				strong{
					color: $white;
				}
				span{
					background-color: $base;
				}
			}
		}
	}
}


.sub-menu {
    /*padding: 0 0 0 2%;*/
    /*float: right;*/
    padding-top: 0;
    left: -100%;
    top: 0%;
    transition: all 0.75s ease;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    background-color: rgba($black, 0.75);
    border-radius: 0;
    z-index: 100;
    overflow: hidden;
    display: flex;
    align-items: center;
    @media(min-width: 768px){
        align-items: center;
    }
    &.oppenned {
        left: 0;
        /*&:before{
            width: 100%;
        }
        &:after{
            height: 100%;
        }*/
    }
    ul {
        margin: 0;
        padding: 0 ;
        padding-top: 7rem;
        width: 85%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        background: $base;
        @media(min-width: 768px){
            margin: 0;
        }
    }
    li {
        list-style: none;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        margin-bottom: 0;
        padding: 1.5rem 3rem;
        width: 100%;
        border-bottom: thin solid rgba($white, 0.35);
        @media(min-width: 768px){
            margin-bottom: 0;
            text-align: unset;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        &.contactus{
        	padding-top: 3rem;
        	a{
				background: #ccc;
				padding-bottom: 0;
				padding: 1.6rem 2.4rem 1.3rem;
				transition: all .2s ease-in-out;  
				color: $white;
				font-weight: 600;
				font-size: 1.4rem;
				display: inline-block;
				&:hover{
					background: #ccc;
					color: $white;
				}
			}
        }
        &.haveSubmenu{
        	a{
        		position: relative;
        		display: flex;
        		color: $white;
				span{
	              	display: none;
	              	@media(max-width: 991px){
		                right: 0;
		                top: 0;
		                position: inherit;
		                transform: translateY(0);
		                height: auto;
		                width: 25px;
		                display: flex;
		                justify-content: center;
		                align-items: center;
	              	}
	            }
        	}

        	ul{
        		height: 0;
        		opacity: 0;
        		visibility: hidden;
    			transition: all .2s linear; 
    			padding-top: 0;
        		li{
        			
        		}
        	}
        }
        &.Active_MobileDropdown{
        	padding-bottom: 0;
        	a{
        		padding-bottom: 1.5rem;
        	}
    		ul{
    			height: auto;
    			visibility: visible !important;
    			opacity: 1;
    			    width: 100%;
    			transition: all .2s linear;
    			padding: 0; 
    			li{
    				a{
    					padding-bottom: 0;
    				}
    			}
    		}
    	}

        a{
            color: $white;
            display: block;
            letter-spacing: 0.01rem;
            font-weight: 400;
            font-family: $primaryFont;
            text-decoration: none;
            @media(min-width: 768px){
                font-size: 16px;
            }
            &:hover {
                text-decontarion: none;
                color: $yellow;
            }
        }
        
    }
}


.Blueheader{
	.c-hamburger{
		span{
			background: $white;
			&:before, &:after {
				background-color: $white;
			}
		}
	}
}


.c-hamburger {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 25px;
    padding: 0;
    width: 83px;
    height: 20px;
    z-index: 2;
    font-size: 0;
    /*text-indent: -9999px;*/

    /*appearance: none;*/
    font-size: 16px;
    background: transparent;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    &:focus {
        outline: none;
    }
    strong{
    	transition: 0.3s all;
    	visibility: visible;
    	color: $darkgrey;
    	font-weight: 500;
    	font-family: $primaryFont;
    }
      span {
        display: block;
        position: absolute;
        top: 8px;
        right: 0;
        height: 2px;
        background: $white;
        width: 28px;
        @media(min-width: 768px){
            top: 8px;
        }
        @media(min-width: 1024px){
            top: 11px;
        }
        &:before, &:after {
          position: absolute;
          display: block;
          left: 0;
          
          height: 2px;
          background-color: $base;
          content: "";
        }
        &:before {
          top: -2px;
          width: 30px;
        }
        &:after {
          bottom: -7px;
          width: 20px;
        }
    }
}

.c-hamburger--htx {
  span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
    &:before, &:after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;    
    }
    &:before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
      }
    &:after {
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
    }
  }
  &.is-active {
  	strong{
  		opacity: 0;
  		visibility: hidden;
  	}
    span {
      background: none;   

      &:before, &:after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
      } 
    
      &:before {
        width: 100%;
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        width: 100%;
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}









