.OrangeWhiteBtn {
  background-color: $yellow;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  text-decoration: none;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  transition: 0.3s all;
  display: inline-block;
  span {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    margin-left: 2rem;
    transition: 0.3s all;
    svg {
      width: 20px;
      height: 12px;
      fill: #333;
      transition: 0.3s all;
    }
  }
  &:hover {
    background-color: #4c7df4;
    color: $white;
    span {
      background-color: $yellow;
    }
  }
}
.SecondaryBtn {
  background-color: #4c7df4;
  &:hover {
    background-color: $yellow;
    color: $white;
    span {
      background-color: #4c7df4;
    }
  }
}
