.HomeBanner {
  padding: 5rem 0;
  background-color: $liteblue;
  position: relative;
  @media (min-width: 1024px) {
    padding: 10rem 0;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $base;
    @media (min-width: 1024px) {
      width: 69%;
    }
  }
  .BannerContent {
    @media (max-width: 1024px) {
      margin-top: 7rem;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }
    h4 {
      margin-bottom: 1.5rem;
      color: $white;
      @media (max-width: 1024px) {
        display: inline-block;
      }
    }
    h1 {
      margin-top: 0;
      font-size: 24px;
      font-weight: 700;
      color: $white;
      line-height: 1.35;
      margin-bottom: 2rem;
      @media (min-width: 1024px) {
        font-size: 35px;
      }
    }
    p {
      color: $white;
      margin-bottom: 5rem;
      @media (max-width: 1024px) {
        margin-bottom: 3rem;
      }
    }
  }
  .VideoContainer {
    position: relative;
    height: 100%;
    z-index: 1;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    @media (min-width: 768px) {
      height: 400px;
    }
    @media (min-width: 1024px) {
      height: 500px;
      margin-left: 3rem;
      margin-right: 0;
    }
    &:before {
      content: "";
      position: absolute;
      width: 45px;
      height: 140px;
      background: url(../img/lefthalf.svg) no-repeat;
      background-size: cover;
      left: -20px;
      top: 25%;
      @media (min-width: 1024px) {
        left: -40px;
        top: 30%;
      }
    }
    &:after,
    .bottomYellowBorder {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: $yellow;
      right: -15px;
      top: -15px;
      z-index: 0;
      @media (min-width: 1024px) {
        right: -15px;
        top: -15px;
        width: 140px;
        height: 140px;
      }
    }
    .bottomYellowBorder {
      bottom: -15px;
      top: auto;
    }
    .videoIframe {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: unset;
    }
    button {
      position: absolute;
      right: -10px;
      bottom: -30px;
      z-index: 9;
      background-color: $white;
      border: none;
      line-height: 1;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s all;
      @media (min-width: 768px) {
      }
      .text {
        padding: 15px;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        font-family: $primaryFont;
        transition: 0.3s all;
        @media (min-width: 1024px) {
          padding: 25px;
        }
      }
      .playbtn {
        padding: 5px;
        background-color: $yellow;
        transform: scale(1.2);
        transition: 0.3s all;
        @media (min-width: 1024px) {
          padding: 15px;
        }
        span {
          width: 35px;
          height: 35px;
          background-color: $white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s all;
        }
      }
      &:hover {
        background-color: $yellow;
        .text {
          color: $white;
        }
        .playbtn {
          background-color: $white;
          span {
            background-color: $liteblue;
          }
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
