.InsideBanner{
	position: relative;
	.BannerContent{
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		right: 0;
		margin: 0 auto;
		transform: translate(-50%, -50%);
		.content{
			h1{
				margin-top: 0;
				margin-bottom: 15px;
				color: $white;
				line-height: 1;
				text-align: center;
				@media (max-width:1024px){
					font-size: 2.4rem;					
				}
			}
			ul{
				display: flex;
				align-items: center;
				justify-content: center;
				list-style: none;
				padding: 0;
				margin: 0;
				li{
					color: $white;
					font-family: $primaryFont;
					font-weight: 500;
					font-size: 16px;
					margin-right: 2rem;
					line-height: 1;
					&:last-child{
						margin-right: 0;
					}
					a{
						text-decoration: none;
						color: $white;
						font-size: 16px;
						position: relative;
						line-height: 1;
						@media (max-width:1024px){
							font-size: 14px;
						}
						&:before{
							content: "/";
							position: absolute;
							left: -13px;
							top: 3px;
							color: $white;
						}
					}
				}
			}
		}
	}
	img{
		width: 100% !important;
		display: block;
	}
}