.Section {
	padding-top: 4rem;
	padding-bottom: 4rem;
	@media screen and (min-width: 768px) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}


.SmallContainer {
  max-width: 800px;
  @media (min-width: 992px) {}
  @media (min-width: 768px) {}
}


.FormDropdownelement{
	padding-bottom: 7rem;
	.FormBlock{
		background-color: $offwhite;
		border: thin solid #ccc;
		padding: 3rem 4rem;
		margin-top: 3rem;
		@media(max-width: 768px){
			margin-top: 3rem;
			padding: 3rem 2rem;
		}
		h2{
			font-size: 32px;
		}
		form{
			height: 100%;
			input[type="text"],input[type="email"],textarea{
				width: 100%;
				padding: 15px;
				border: thin solid #ccc;
				background-color: $white;
				color: $darkgrey;
				margin-top: 2rem;
				font-family: $primaryFont;
				font-weight: 400;
				font-size: 16px;
				&::placeholder{
					color: #ccc;
					opacity: 1;
				}
				&:focus{
					outline: none;
				}
			}
			textarea{
				height: 100px;
			}
			.submit{
				display: inline-block;
				margin-top: 2rem;
				input[type="submit"]{
					cursor: pointer;
					background: $yellow url(../img/arw.png) 97% 49% no-repeat;
					font-weight: 500;
					font-size: 16px;
					color: $white;
					text-decoration: none;
					border: none;
					padding: 1.25rem 7.5rem 1.25rem 3.5rem;
					transition: 0.3s all;
					display: inline-block;
					&:hover{
						background: $base url(../img/arw.png) 90% 49% no-repeat;
					}
				}
			}
		}
	}
	.dropdown {
		margin: 3rem 0 0;
		padding: 0;
		z-index: 1;    
		background: $white;
		transition: all .2s ease-in-out;  
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		width: 230px;
		height: auto;
		position: relative;
		list-style: none;
		border: thin solid #ccc;
		&:before{
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $base transparent transparent transparent;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: -10px;	
			transform: rotate(180deg);					
		}
		li{
			margin-left: 0;
			line-height: 1;
			width: 100%;
			a{
				padding-right: 0;
				padding: 1.5rem;
				display: block;
				background: $white;
				width: 100%;
				text-decoration: none;
				color: $base;
				font-family: $primaryFont;
				font-size: 16px;
				&:after,&:before{
					display: none;
				}
				&:hover{
					background-color: $base;
					color: $white;
				}
			}
		}
	}
}