.noBanner {
  width: 100%;
  display: block;
}

.ClientsLogo {
  .PinkElement {
    margin-bottom: 3rem;
    text-align: center;
  }
  .Logobox {
    margin: 0rem auto 0;
    max-width: 100%;
    @media (min-width: 1024px) {
      max-width: 954px;
    }
    @media (max-width: 1024px) and (min-width: 768px) {
      max-width: 900px;
    }
    @media (min-width: 767px) and (max-width: 769px) {
      max-width: 600px;
    }
    .logosliders {
      margin-bottom: 0;
      .slick-arrow {
        width: 60px;
        height: 60px;
        top: 35%;
        background-size: contain !important;
        &.slick-prev {
          background: url(../img/arrow-left.svg) no-repeat;
          left: -8%;
          @media (max-width: 1024px) {
            left: -5%;
            width: 40px;
            height: 40px;
          }
          @media (max-width: 768px) {
            left: -10%;
          }
        }
        &.slick-next {
          background: url(../img/arrow.svg) no-repeat;
          right: -8%;
          @media (max-width: 1024px) {
            right: -5%;
            width: 40px;
            height: 40px;
          }
          @media (max-width: 768px) {
            right: -10%;
          }
        }
      }
      .slick-slider {
        margin: 0 -10px;
      }
      .slick-slide {
        margin: 0 10px;
        img {
          max-width: 160px;
          height: auto;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .logos {
        display: flex !important;
        align-items: center;
        justify-content: center;
        border: thin solid #ccc;
        padding: 1.5rem;
        min-height: 105px;
        @media (max-width: 640px) {
          padding: 0.5rem;
        }
      }
    }
  }
}
