.TeamCardsBlock{
	.TopHeadingSec{
		h2{
			@media(max-width: 768px){
				margin-bottom: 0;
			}
		}
	}
	.CardsBlock{
		.Cards{
			position: relative;
			margin-top: 4rem;
			img{
				width: 100%;
				display: block;
			}
			.ContentBox{
				position: absolute;
				width: 85%;
				bottom: -1px;
				right: 0;
				left: 0;
				margin: 0 auto;
				padding: 2rem;
				background-color: rgba($white, 0.9);
				border-left: 4px solid $yellow;
				text-align: center;
				@media(min-width: 768px){
					width: 92%;
				}
				@media(min-width: 1024px){
					left: unset;
					bottom: 0;
					text-align: unset;
					margin: unset;
					width: 85%;
				}
				h4{
					font-weight: 700;
					color: $darkgrey;
					margin-bottom: 5px;
					font-family: $primaryFont;
					@media(min-width: 768px){
						font-size: 16px
					}
					@media(min-width: 1024px){
						font-size: 22px
					}
				}
				p{
					font-weight: 500;
					color: $base;
					font-size: 16px;
					margin-bottom: 0;
					@media(min-width: 768px){
						font-size: 12px;
					}
					@media(min-width: 1024px){
						font-size: 16px;
					}
				}
			}
		}
	}
}



.OurGallery{
	.GalleryBlock{
		margin-top: 2rem;
		.row{
			margin: 0 -7.5px;
		}
		.col-6{
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
		.image-popup-vertical-fit{
			margin-top: 1.5rem;
			display: block;
			transition: 0.3s all;
			img{
				width: 100%;
				display: block;
				transition: 0.3s all;
			}
			&:hover{
				img{
					filter: grayscale(1);
				}
			}
		}
	}
}


// popup design	
.mfp-image-holder{

	.mfp-content{	
		max-width: 55%;
		width: 55%;
		background: transparent;
		@media (max-width:768px){
			max-width: 60%;
			width: 60%;
		}
		@media (max-width:640px){
			max-width: 70%;
			width: 70%;
		}
		
		.mfp-figure{
			&::after{
				display: none;
			}
		}

		img.mfp-img {
			padding: 0;
			width: 100%;
			border: 4px solid #fff;
		}  
	}

		.mfp-arrow-right {
			background: url(../img/pright.svg) no-repeat !important;
			opacity: 1;
			right: 15%;
			@media (max-width:1024px){
				right: 10%;
			}
			@media (max-width:640px){
				right: 5%;
			}
	
			@media (max-width:480px){
				right: 10px;
			}
			&:hover {
				opacity: 0.8;
			}
		}

		.mfp-arrow-left {
			background: url(../img/pleft.svg) no-repeat !important;
			opacity: 1;
			left: 15%;
			@media (max-width:1024px){
				left: 10%;
			}
			@media (max-width:640px){
				left: 5%;
			}
	
			@media (max-width:480px){
				left: 10px;
			}
			&:hover {
				opacity: 0.8;
			}
		}

		.mfp-arrow {
			width: 60px;
			height: 60px;
			transform: translateY(-50%);
			margin-top: 0 !important;
			background-size: contain !important;
			@media (max-width:640px){
				width: 40px;
				height: 40px;		
			}
			&::before, &::after {
				display: none;
			}
		}

		.mfp-counter {
			right: 30px;
		}
}


.mfp-close-btn-in .mfp-close {
    background: $base !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center !important;
    padding: 0 !important;
    opacity: 1 !important;
    right: 0 !important;
    font-family: serif;
    font-size: 35px;
	cursor: pointer !important;
	@media (max-width:480px){
		width: 40px !important;
		height: 40px !important;
	}
}