* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
}
body {
  font: 400 16px/1.4 $primaryFont;
  color: $black;
  transition: all 0.4s 0.3s ease-in;
}
body,
html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  // overflow: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  color: $darkgrey;
  line-height: 1.35;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.DesktopOnly {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.MobileOnly {
  @media (min-width: 768px) {
    display: none;
  }
}

.IpadDesktop {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}

.IpadRemoved {
  @media (min-width: 1024px) {
    display: none;
  }
}

.DesktopFooter {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}

.MobileFooter {
  @media (min-width: 1024px) {
    display: none;
  }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.LeftWhiteElement {
  position: relative;
  padding-left: 4.25rem;
  text-transform: uppercase;
  color: $white;
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    left: 0;
    top: 8px;
    background-color: $white;
  }
}
.RightWhiteElement {
  position: relative;
  padding-left: 4.25rem;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  font-size: 16px;
  &:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    right: -40px;
    top: 8px;
    background-color: $white;
  }
}

.LeftYellowElement {
  position: relative;
  padding-left: 4.25rem;
  text-transform: uppercase;
  color: $yellow;
  margin-bottom: 2rem;
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    left: 0;
    top: 8px;
    background-color: $yellow;
  }
}

.LeftBlueElement {
  position: relative;
  padding-left: 4.25rem;
  text-transform: uppercase;
  color: $base;
  margin-bottom: 2rem;
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    left: 0;
    top: 8px;
    background-color: $base;
  }
}

.TopHeadingSec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  h4 {
    margin-bottom: 2rem;
  }
  h2 {
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1.75rem;
  }
  p {
    margin-bottom: 0;
    br {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.BreadcrumBlock {
  padding: 2rem 0;
  .breadcrum {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    li {
      margin-right: 1.2rem;
      position: relative;
      font-size: 12px;
      font-family: $primaryFont;
      color: $yellow;
      font-weight: 600;
      &:after {
        content: "/";
        position: absolute;
        right: -8px;
        top: 0;
        color: $darkgrey;
        font-weight: 400;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      a {
        font-size: 12px;
        font-family: $primaryFont;
        color: $darkgrey;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}

.SmallContainer {
  max-width: 800px;
  margin: 0 auto;
}

.TitleHeading {
  font-size: 32px;
  line-height: 38px;
}
.center {
  text-align: center;
}
