$base : #4C7CE2;
$black: #000;
$white: #fff;
$offwhite: #FAFAFA;
$liteblue: #ECF1FB;
$darkgrey: #333333;
$yellow: #FFB41D;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', serif;


.OffWhiteSection{
	background-color: #FAFAFA;
}