.ModernProperty {
  background: url("../img/components/modern-property-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  margin-top: 76px;
  h1 {
    font-size: 35px;
    margin: 15px 0;
  }
  p {
    margin-bottom: 40px;
  }
}

.ComponentSecTwo {
  margin: 76px 0;
  &:before {
    width: 100%;
  }
  .row {
    align-items: center;
  }
}

.hideAfterBefore {
  &.LeftImgRightContent .LeftImg:before {
    display: none;
  }
  &.LeftImgRightContent .LeftImg:after {
    display: none;
  }
}

.TypographySection {
  .hOneTypo {
    font-size: 32px;
    margin: 7px 0;
  }
  .hTwoTypo {
    font-size: 20px;
    color: inherit;
  }
  .hThreeTypo {
    font-size: 16px;
  }
  .hFourTypo {
    font-size: 12px;
  }
  .d-f {
    display: flex;
    justify-content: space-between;
  }
  .slick-arrow.slick-prev {
    background: url(../img/arrow-left.svg) no-repeat;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 5%;
  }
  .slick-arrow.slick-next {
    background: url(../img/arrow.svg) no-repeat;
    right: -56%;
    width: 100%;
    height: 100%;
    top: 5%;
  }
  button {
    width: 70px;
    height: 70px;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  .mt-0 {
    margin-top: 0;
  }
  .ReadMoreYellow {
    text-decoration: none;
    span {
      color: $yellow;
    }
  }
  .ReadMoreBlue {
    margin-left: 50px;
    span {
      color: #4c7ce2;
    }
  }
  .mt-50 {
    margin-top: 35px;
  }
  input,
  select {
    width: 48%;
    padding: 15px;
    border: thin solid #ccc;
    background-color: #fff;
    color: #333;
    margin-top: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

.FourCardsSec {
  .ThreeCards {
    margin-top: 0;
    .Cards {
      .bottomContent {
        padding: 1rem 0;
        background-color: $white;
        h3 {
          font-size: 16px;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
        }
        &:hover {
          background-color: $white;
        }
      }
    }
  }
}

.FourCardsBlock {
  .ReadMoreYellow {
    text-decoration: none;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffb41d;
      font-weight: 500;
      font-size: 16px;
      margin-top: 20px;
      img {
        padding-left: 5px;
      }
    }
  }
  .CardsBlock {
    .Cards {
      .ContentBox {
        padding: 7rem 4rem 4rem;
      }
      &.WithoutIcon {
        .ContentBox {
          padding: 4rem 4rem;
        }
      }
    }
  }
}

.ThreeCardsBlock {
  .ThreeCards {
    .Cards {
      margin-top: 1.5rem;
    }
  }
}

.faq-sec {
  h2 {
    padding-bottom: 33px;
    text-align: center;
  }

  .accordion {
    .accordion-item {
      &:nth-child(1) {
        border-top: 1px solid #ccc;
      }
      border-bottom: 1px solid #ccc;
      transition: 650ms ease;
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 26px 0;
      color: #222d35;
      border: none;
      background: transparent;
      outline: none;
      display: flex;
      align-items: center;
      transition: 650ms ease;
      .accordion-title {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        line-height: 19px;
        color: #222d35;
        font-weight: 600;
        width: 90%;
        line-height: 25px;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        color: #333;
        &::after {
          cursor: pointer;
          color: #333;
          border: 1px solid #333;
        }
      }
      .icon {
        display: inline-block;
        position: absolute;
        right: 20px;
        color: $white;
        img {
          transition: 650ms ease;
        }
      }
    }

    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity, max-height;
      transition: 850ms ease-in-out;
      will-change: opacity, max-height;
      p {
        font-size: 16px;
        color: #5a646b;
        margin: 0 10rem 2rem 0;
        opacity: 0.8;
        line-height: 30px;
      }
    }

    .accordion-item.active {
      color: #333;
      button {
        padding-bottom: 20px;
      }
      .icon {
        img {
          transform: rotate(180deg);
        }
      }
      .accordion-content {
        opacity: 1;
        max-height: 50rem;
        will-change: opacity, max-height;
      }
    }
  }
}

.rowmt80 {
  margin-top: 80px;
}
.BlogSec {
  @media (min-width: 1024px) {
    .NewsSliderBlock .newslider .slick-arrow {
      top: 49%;
    }
  }
  h2 {
    margin-bottom: 35px;
  }
  p {
    color: #333;
    font-weight: 400;
  }
}

.BlogDetails {
  h2 {
    padding-bottom: 25px;
  }
  .BlogContent {
    padding-top: 27px;
    h2 {
      padding-bottom: 10px;
    }
    p {
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.sec-16 {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .gtabs {
    position: relative;
    .gtab {
      width: 100%;
      display: none;
      transition: all 0.4s;
      padding: 30px 0 30px;
      .sub_heading {
        line-height: 39px;
        padding-bottom: 15px;
      }
      .subcopy {
        color: #222d35;
        padding-bottom: 15px;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0;
        line-height: 29px;
      }
      .list {
        position: relative;
        margin-bottom: 5px;
        &::before {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: 2px solid $yellow;
          left: 0;
          top: 8px;
        }
        span {
          font-weight: 500;
          opacity: 1;
          padding: 0;
          padding-left: 20px;
        }
      }
      &.active {
        display: block;
        top: 0;
        transition: all 0.4s;
      }
    }
  }
  .tab_btn--wrapper {
    display: flex;
    .btn-tab {
      border: none;
      outline: none;
      margin-right: 10px;
      font-size: 16px;
      color: #222d35;
      min-width: 174px;
      height: 50px;
      opacity: 0.5;
      font-weight: 500;
      background-color: #f5f0f0;
      &.active {
        background-color: $yellow;
        color: $white;
        opacity: 1;
      }
    }
  }
}

.MapSec {
  padding-bottom: 0;
  margin-bottom: -5px;
}

@media (max-width: 768px) {
  .ModernProperty {
    height: 500px;
    h1 {
      font-size: 24px;
    }
  }
  .ComponentSecTwo {
    img {
      margin-top: 50px;
    }
  }
  .TypographySection {
    .RightContent {
      div {
        &:nth-child(1) {
          padding-right: 10px;
        }
      }
      &:nth-child(1) {
        padding-top: 30px;
      }
      .d-f {
        justify-content: space-between;
      }
    }
    button {
      margin-top: 30px;
      margin-right: 20px;
    }
    .d-f {
      flex-wrap: wrap;
      justify-content: unset;
    }
  }
  .ThreeCardsBlock .ThreeCards .Cards {
    margin-top: 3rem;
  }
  .faq-sec .accordion .accordion-content p {
    margin: 0 2rem 2rem 0;
    font-weight: 400;
    opacity: 1;
  }
  .rowmt80 {
    margin-top: 60px;
  }
  .sec-16 {
    .gtabs .gtab .list span {
      display: block;
    }
    .tab_btn--wrapper {
      overflow-y: scroll;
    }
    .gtabs .gtab {
      padding-bottom: 0;
    }
  }
  .FormDropdownelement {
    .col-md-5 {
      margin-top: 40px;
    }
  }
}
