.ContactFormBlock{
	.FormBlock{
		background-color: $offwhite;
		border: thin solid #ccc;
		
		margin-top: 3rem;
		padding: 3rem 2rem;
		@media(min-width: 768px){
			margin-top: 0rem;
		}
		@media(min-width: 1024px){
			padding: 3rem 4rem;
		}
		form{
			height: 100%;
			input[type="text"],input[type="email"],textarea{
				width: 100%;
				padding: 15px;
				border: thin solid #ccc;
				background-color: $white;
				color: $darkgrey;
				margin-top: 2rem;
				font-family: $primaryFont;
				font-weight: 400;
				font-size: 16px;
				&::placeholder{
					color: #ccc;
					opacity: 1;
				}
				&:focus{
					outline: none;
				}
			}
			textarea{
				height: 100px;
			}
			.submit{
				display: inline-block;
				margin-top: 2rem;
				input[type="submit"]{
					cursor: pointer;
					background: $yellow url(../img/arw.png) 97% 49% no-repeat;
					font-weight: 500;
					font-size: 16px;
					color: $white;
					text-decoration: none;
					border: none;
					padding: 1.25rem 7.5rem 1.25rem 3.5rem;
					transition: 0.3s all;
					display: inline-block;
					&:hover{
						background: $base url(../img/arw.png) 90% 49% no-repeat;
					}
				}
			}
		}
	}
	.AddressBlock{
		background-color: $offwhite;
		border: thin solid #ccc;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 2rem;
		transition: 0.3s all;
		min-height: 145px;
		margin-bottom: 3rem;
		&:last-child{
			margin-bottom: 0;
		}
		.icon{
			background-color: $base;
			width: 90px;
			height: 80px;
			border-radius: 50%;
			flex-basis: 25%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s all;
			svg{
				fill: $white;
				width: 35px;
				height: 35px;
			}
		}
		h4{
			font-family: $primaryFont;
			font-weight: 600;
			font-size: 20px;
			color: $darkgrey;
			margin-bottom: 0;
			flex-basis: 68%;
			line-height: 1;
			margin-left: 2%;
			transition: 0.3s all;
			a,span{
				text-decoration: none;
				color: $darkgrey;
				font-weight: 400;
				font-size: 16px;
				display: block;
				line-height: 1.5;
				margin-top: 10px;
				transition: 0.3s all;
			}
		}
		&:hover{
			background-color: $base;
			border-color: transparent;
			.icon{
				background-color: $yellow;
			}
			h4{
				color: $white;
				a,span{
					color: $white;
				}
			}
		}
	}
}