.LeftImgRightContent{
	.LeftImg{
		position: relative;
		padding-right: 2rem;
		padding-left: 2rem;
		height: 100%;
		@media(min-width: 767px){
			padding-right: 2rem;
			padding-left: 0rem;
		}
		&:before{
			content: "";
			position: absolute;
			width: 35%;
			height: 50%;
			background-color: $liteblue;
			z-index: -1;
			left: 5px;
			top: -15px;
			@media(min-width: 767px){
				left: -15px;
				top: -15px;
				width: 85%;
				height: 85%;
			}
		}
		&:after{
			content: "";
			position: absolute;
			width: 137px;
			height: 208px;
			background: url(../img/righthalf.svg) no-repeat;
			background-size: cover;
			transform: rotate(360deg);
			right: 0px;
			top: 5%;
			z-index: -1;
			@media(min-width: 767px){
				right: -15px;
				top: 23%;
			}
		}
		img{
			width: 100%;
			display: block;
			height: 100%;
		}
	}
	.RightContent{
		@media(max-width: 767px){
			margin-top: 4rem;
			/*padding: 0 2rem;*/
			text-align: center;
		}
		h4{
			@media(max-width: 767px){
				display: inline-block;
			}
		}
		h2{
			margin-bottom: 2rem;
		}
		p{
			line-height: 1.5;
			color: $darkgrey;
			margin-bottom: 1.75rem;
			color: $darkgrey;
		}
		.OrangeWhiteBtn{
			margin-top: 1.5rem;
		}
	}
}



.FourCardsBlock{
	.CardsBlock{
		
		transition: 0.3s all;
		.Cards{
			margin-top: 5rem;
			transition: 0.3s all;
			@media(max-width: 768px){
				margin-top: 3rem;
			}
			.IconBox{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100px;
				height: 100px;
				background-color: transparent;
				margin: 0 auto -4.5rem;
				border-radius: 50%;
				position: relative;
				z-index: 1;
				transition: 0.3s all;
				svg{
					width: 50px;
					height: 50px;
					fill: $base;
					transition: 0.3s all;
				}
			}
			.ContentBox{
				background-color: transparent;
				border-radius: 5px;
				text-align: center;
				padding: 8rem 4rem;
				transition: 0.3s all;
				h5{
					color: $darkgrey;
					margin-bottom: 2rem;
					transition: 0.3s all;
				}
				p{
					margin-bottom: 0;
					transition: 0.3s all;
				}
			}
			&:hover{
				.IconBox{
					background-color: $yellow;
					svg{
						fill: $white;
					}
				}
				.ContentBox{
					background-color: $base;
					h5,p{
						color: $white;
					}
				}
			}
		}
	}
}




.ThreeCardsBlock{
	.LeftHeadingWithLink{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.LeftHeading{
			flex-basis: 65%;
			@media(max-width: 767px){
				flex-basis: 100%;
				text-align: center;
			}
			h4{
				margin-bottom: 1.5rem;
				@media(max-width: 767px){
					display: inline-block;
				}
			}
			h2{
				margin-bottom: 1.5rem;
				line-height: 1.25;
			}
			p{
				margin-bottom: 0;
				br{
					@media(max-width: 1024px){
						display: none;
					}
				}
			}
		}
		.LinkBox{
			flex-basis: 35%;
			display: flex;
			justify-content: flex-end;
			@media(max-width: 767px){
				flex-basis: 100%;
				justify-content: center;
				margin-top: 2rem;
			}
			.OrangeWhiteBtn{
				/*padding: .75rem 1rem .75rem 3.5rem;*/
				span{
					margin-left: 3rem;
				}
			}
		}
	}
	.ThreeCards{
		margin-top: 2rem;
		.Cards{
			width: 100%;
			display: block;
			text-decoration: none;
			margin-top: 3rem;
			@media(max-width: 767px){
				margin-top: 3rem;
			}
			img{
				width: 100%;
				display: block;
			}
			.bottomContent{
				padding: 2rem;
				background-color: rgba($base, 0.1);
				transition: 0.3s all;
				@media(max-width: 767px){
					text-align: center;
				}
				h3{
					font-size: 20px;
					font-weight: 600;
					color: $darkgrey;
					margin-bottom: 1rem;
					transition: 0.3s all;
				}
				p{
					color: $darkgrey;
					transition: 0.3s all;
				}
				span{
					display: flex;
					align-items: center;
					color: $yellow;
					font-weight: 500;
					font-size: 16px;
					@media(max-width: 767px){
						justify-content: center;
					}
					img{
						width: auto;
						margin-left: 0.5rem;
						transition: 0.3s all;
					}
				}
			}
			&:hover{
				.bottomContent{
					background-color: rgba($yellow, 0.1);
					h3,p{
						color: $darkgrey;
					}
					span{
						img{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
	&.SingleServiceCards{
		.TopHeadingSec{
			h2{
				margin-bottom: 0;
			}
		}
		.ThreeCards{
			.Cards{
				.bottomContent{
					background-color: rgba($white, 1);
				}
			}
		}
	}
}



.VideoBlockSection{
	h2{
		text-align: center;
		margin-bottom: 2rem;
	}
	.VideoBlock{
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		margin-top: 0;
		z-index: 1;
		margin-bottom: 3rem;
		@media screen and (min-width: 1280px){
			max-width: 800px;
			margin-top: 0;
			margin-bottom: 0;
		}
		&:before{
			content: "";
			position: absolute;
			width: 45px;
			height: 140px;
			background: url(../img/solidleft.svg) no-repeat;
			background-size: cover;
			left: -40px;
			top: 30%;
			@media(max-width: 767px){
				left: 75px;
				transform: rotate(270deg);
				z-index: -1;
				top: 70%;
				height: 125px;
			}
		}
		&:after{
			content: "";
			position: absolute;
			width: 35px;
			height: 80px;
			background: url(../img/solidleft.svg) no-repeat;
			background-size: cover;
			right: -35px;
			top: 10%;
			transform: rotate(180deg);
			@media(max-width: 767px){
				right: 45px;
				z-index: -1;
				top: -20%;
				transform: rotate(90deg);
			}
		}
		.PlayBtn{
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 28%;
			width: 75px;
			img{
				width: 100%;
			}
			@media(min-width: 768px){
				top: 40%;
			}
		}
	}
}


.LatestNewsSec{
	.Content{
		@media(max-width: 1023px){
			text-align: center;
		}
		h4{
			margin-bottom: 1.5rem;
			@media(max-width: 1023px){
				display: inline-block;
			}
		}
		h2{
			margin-bottom: 1.5rem;
			font-size: 32px;
			@media(max-width: 767px){
				font-size: 24px;
			}
		}
		p{
			margin-bottom: 10rem;
			@media(max-width: 1023px){
				margin-bottom: 2rem;
			}
		}
		.OrangeWhiteBtn{
			/*padding: .75rem 1rem .75rem 3.5rem;*/
			span{
				margin-left: 3rem;
			}
		}
	}
	.NewsSliderBlock{
		position: relative;
		@media(max-width: 1023px){
	    	margin: 3rem 0 0;
	    }
		.newslider{
			margin-bottom: 0;
			.slick-arrow{
				width: 50px;
				height: 50px;
				top: -17.5%;
				border-radius: 50%;
				background-size: contain !important; 
				background-color: $base !important;
				background-size: 50% !important;
				@media(min-width: 768px){
					top: -24%;
				}
				@media(min-width: 1024px){
					top: 63%;
				}
				&.slick-prev{
					background: url(../img/arw-left.svg) 50% no-repeat;
					left: -35%;
					@media(max-width: 1023px){
						left: 0%;
					}
				}
				&.slick-next{
					background: url(../img/ar-right.svg) 50% no-repeat;
					right: unset;
					left: -26%;
					@media(max-width: 1023px){
						left: unset;
						right: 0;
					}
				}
			}
			.slick-slider {
			    margin:0 -7.5px;
			    @media(max-width: 767px){
			    	margin:0;
			    }
			}
			.slick-slide {
			    margin:0 7.5px;
			    @media(max-width: 767px){
			    	margin:0;
			    }
			}
			.ArticleBlock{
				.Cards{
					width: 100%;
					display: block;
					text-decoration: none;
					img{
						width: 100%;
						display: block;
					}
					.bottomContent{
						padding: 2rem 0 0;
						transition: 0.3s all;
						h6{
							margin-bottom: 1rem;
							font-size: 12px;
							&:before{
								top: 6px;
							}
						}
						h3{
							font-size: 20px;
							font-weight: 600;
							color: $darkgrey;
							margin-bottom: 1rem;
							transition: 0.3s all;
						}
						span{
							display: flex;
							align-items: center;
							color: $yellow;
							font-weight: 500;
							font-size: 16px;
							img{
								width: auto;
								margin-left: 0.5rem;
								transition: 0.3s all;
							}
						}
						ul{
							list-style: none;
							margin: 10px 0 0;
							padding: 10px 0 0;
							border-top: thin solid #ccc;
							display: flex;
							align-items: center;
							li{
								margin-right: 0.5rem;
								color: #999999;
								font-size: 12px;
								font-family: $primaryFont;
								font-weight: 500;
								&:last-child{
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}



.TestimonialsSec{
	h2{
		text-align: center;
		margin-bottom: 0;
		@media(max-width: 1023px){
			text-align: left;
		}
	}
	.testimonialslider{
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		margin-top: 0;
		margin-bottom: 0;
		@media screen and (min-width: 1280px){
			max-width: 900px;
		}
		.slick-arrow{
			width: 50px;
			height: 50px;
			top: 55%;
			border-radius: 50%;
			background-size: contain !important; 
			background-color: $base !important;
			background-size: 50% !important;
			@media(max-width: 1023px){
				width: 40px;
				height: 40px;
				top: -5%;
			}
			&.slick-prev{
				background: url(../img/arw-left.svg) 50% no-repeat;
				left: -10%;
				@media(max-width: 1023px){
					left: unset;
					right: 15%;
				}
			}
			&.slick-next{
				background: url(../img/ar-right.svg) 50% no-repeat;
				right: -10%;
				@media(max-width: 1023px){
					right: 0%;
				}
			}
		}
		.SlideBlock{
			background-color: rgba($base,0.1);
			border-radius: 5px;
			padding: 14rem 15rem 12rem;
			position: relative;
			margin-top: 10rem;
			@media(max-width: 768px){
				padding: 8rem 3rem 5rem;
			}
			.author{
				position: absolute;
				width: 115px;
				height: 115px;
				top: -6rem;
				left: 0;
				right: 0;
				margin: 0 auto;
				border: 1px solid $white;
				border-radius: 50%;
				img{
					width: 100%;
				}
			}

			h3{
				font-weight: 700;
				font-size: 30px;
				color: $darkgrey;
				line-height: 1.35;
				text-align: center;
				margin-bottom: 3rem;
				position: relative;
				@media(max-width: 1023px){
					font-size: 22px;
				}
				&:before{
					content: "";
					position: absolute;
					background: url(../img/quote.svg) no-repeat;
					width: 30px;
					height: 20px;
					left: -60px;
					top: -40px;
					@media(max-width: 1023px){
						left: 0px;
					}
				}
				&:after{
					content: "";
					position: absolute;
					background: url(../img/quote.svg) no-repeat;
					width: 30px;
					height: 20px;
					right: -50px;
					bottom: -30px;
					@media(max-width: 1023px){
						right: -10px;
					}
				}
			}
			p{
				text-align: center;
				font-weight: 600;
				font-size: 20px;
				color: $darkgrey;
				margin-bottom: 0;
			}
		}
	}
	&.InsidePageTestimonial{
		.testimonialslider{
			.SlideBlock{
				background-color: $white;
			}
		}
	}
}