.NewsArticles{
	padding-bottom: 5rem;
	.LeftHeadingWithLink{
		/*margin-bottom: 3rem;*/
		.LinkBox{
			form{
				display: flex;
				position: relative;
				@media(max-width: 768px){
					width: 100%;
				}
				input[type="search"]{
					width: 100%;
					padding: 15px;
					padding-right: 40px;
					background-color: $offwhite;
					border: none;
					font-size: 16px;
					font-family: $primaryFont;
					color: $darkgrey;
					&:focus{
						outline: none;
					}
				}
				input[type="submit"]{
					position: absolute;
					width: 45px;
					height: 45px;
					cursor: pointer;
					background: $base url(../img/search.svg) 50% no-repeat;
					right: 3px;
					top: 4px;
					border: none;
					transition: 0.3s all;
					&:focus{
						outline: none;
					}
					&:hover{
						background: $yellow url(../img/search.svg) 50% no-repeat;
					}
				}
			}
		}
	}
	.FourCardsBlock{
		.Cards{
			width: 100%;
			display: block;
			text-decoration: none;
			margin-top: 3rem;
			@media (min-width: 768px){
				margin-top: 5rem;
			}
			img{
				width: 100%;
				display: block;
			}
			.bottomContent{
				padding: 2rem 0 0;
				transition: 0.3s all;
				h6{
					margin-bottom: 1rem;
					font-size: 12px;
					&:before{
						top: 6px;
					}
				}
				h3{
					font-size: 20px;
					font-weight: 600;
					color: $darkgrey;
					margin-bottom: 1rem;
					transition: 0.3s all;
				}
				span{
					display: flex;
					align-items: center;
					color: $yellow;
					font-weight: 500;
					font-size: 16px;
					img{
						width: auto;
						margin-left: 0.5rem;
						transition: 0.3s all;
					}
				}
				ul{
					list-style: none;
					margin: 10px 0 0;
					padding: 10px 0 0;
					border-top: thin solid #ccc;
					display: flex;
					align-items: center;
					li{
						margin-right: 0.5rem;
						color: #999999;
						font-size: 12px;
						font-family: $primaryFont;
						font-weight: 500;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}



.SingleContent{
	.MainImage{
		img{
			width: 100%;
			display: block;
		}
	}
	.ContentOnly{
		max-width: 100%;
		margin: 0 auto;
		padding: 3rem 0 4rem;
		@media(min-width: 768px){
			padding: 3rem 0 8rem;
			max-width: 768px;
		}
		h1{
			margin-top: 0;
			margin-bottom: 15px;
			color: $darkgrey;
			@media (max-width:640px){
				font-size: 2.6rem;
			}
		}
		.authorlist{
			list-style: none;
			margin: 0 0 15px;
			padding: 0;
			padding-left: 4.25rem;
			display: flex;
			align-items: center;
			position: relative;
			&:before{
		        content: "";
		        position: absolute;
		        width: 35px;
		        height: 1px;
		        left: 0;
		        top: 10px;
		        background-color: $yellow;
		    }
			li{
				margin-right: 0.5rem;
				
				&:last-child{
					margin-right: 0;
				}
				a{
					color: $yellow;
					font-size: 12px;
					font-family: $primaryFont;
					font-weight: 500;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
		.singleImg{
			width: 100%;
			display: block;
			margin-bottom: 2rem;
		}
		p{
			line-height: 3.2rem;
			margin-bottom: 2rem;
			color: $darkgrey;
			
			&:last-of-type{
				margin-bottom: 3rem;
			}
		}
		.ShareButton{
			display: flex;
			align-items: center;
			p{
				color: #2D2C2D;
				margin-bottom: 0;
				opacity: 0.5;
				font-size: 1.2rem;
			}
			ul{
				list-style: none;
				margin: 0 0 0 1rem;
				padding: 0;
				display: flex;
				align-items: center;
				li{
					margin-right: 0.5rem;
					a{
						width: 30px;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						border: thin solid #ccc;
						border-radius: 50px;
						transition: 0.3s all;
						&:hover{
							border-color: $base;
						}
					}
				}
			}
		}
	}
}