.PropertyDetails{
	padding-top: 0;
	padding-bottom: 7rem;
	.SliderBlock{
		height: 100%;
		@media(max-width: 768px){
			margin-bottom: 3rem;
		}
		.main{
			height: 100%;
		}
		.slider-for{
			margin-bottom: 10px;
			.slick-slide{
				img{
					width: 100%;
					display: block;
					height: auto;
				}
			}
		}
		.slider-nav{
			margin-bottom: 0;
			&.slick-slider {
			    margin:0 -10px;
			}
			.slick-slide{
				margin-right:10px;
    			margin-left:10px;
				img{
					height: auto;
				}
			}
		}
	}
	.RightContent{
		h2{
			margin-bottom: 15px;
		}
		p{
			color: $darkgrey;
			line-height: 1.5;
			margin-bottom: 2rem;
		}
	}
}


.white-popup {
	position: relative;
	background: $offwhite;
	padding: 40px;
	width: auto;
	max-width: 700px;
	margin: 0px auto;
	transition: 1s all;
	h4{
		margin-bottom: 1rem;
	}
	button.mfp-close{
		background: $base;
		color: $white;
	}
  form{
			height: 100%;
			input[type="text"],input[type="email"],textarea{
				width: 100%;
				padding: 15px;
				border: thin solid #ccc;
				background-color: $white;
				color: $darkgrey;
				margin-top: 2rem;
				font-family: $primaryFont;
				font-weight: 400;
				font-size: 16px;
				&::placeholder{
					color: #ccc;
					opacity: 1;
				}
				&:focus{
					outline: none;
				}
			}
			textarea{
				height: 100px;
			}
			.submit{
				display: inline-block;
				margin-top: 2rem;
				input[type="submit"]{
					cursor: pointer;
					background: $yellow url(../img/arw.png) 97% 49.75% no-repeat;
					font-weight: 500;
					font-size: 16px;
					color: $white;
					text-decoration: none;
					border: none;
					padding: 1.25rem 7.5rem 1.25rem 3.5rem;
					transition: 0.3s all;
					display: inline-block;
					&:hover{
						background: $base url(../img/arw.png) 90% 50% no-repeat;
					}
				}
			}
		}
}